<p style="color: green"><%= notice %></p>

<%= render @bkjob %>

<div>
  <%= link_to "Edit this bkjob", edit_bkjob_path(@bkjob) %> |
  <%= link_to "Back to bkjobs", bkjobs_path %>

  <%= button_to "Destroy this bkjob", @bkjob, method: :delete %>
</div>
